services:
  mongodb:
    image: mongodb/mongodb-community-server:latest
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: cs554-finalproject
    volumes:
      - mongodb_data:/data/db
    networks:
      - fitness-network

  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - fitness-network
    command: redis-server --appendonly yes

  minio:
    image: minio/minio:latest
    container_name: minio
    restart: unless-stopped
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    volumes:
      - minio_data:/data
    networks:
      - fitness-network
    command: server /data --console-address ":9001"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
      PORT: 3000
      MONGODB_URI: mongodb://mongodb:27017/cs554-finalproject
      REDIS_HOST: redis
      REDIS_PORT: 6379
      MINIO_ENDPOINT: minio
      MINIO_PORT: 9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      MINIO_USE_SSL: "false"
      JWT_SECRET: a266d1f9d21742880b3bdc9372f81b5d
      JWT_EXPIRES_IN: 7d
      CORS_ORIGIN: http://localhost:3000
    depends_on:
      - mongodb
      - redis
      - minio
    networks:
      - fitness-network
    volumes:
      - ./backend:/app
      - /app/node_modules
volumes:
  mongodb_data:
  redis_data:
  minio_data:
networks:
  fitness-network:
    driver: bridge